body {
	background-color: black;
}

h1 {
	color:white;
	text-align: center;
}

.zoom-pic-div-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.thumb-pic {
	width: 200px;
	margin: 8px;
}

.zoom-pic {
	border-radius: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.column {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

@media screen and (max-width: 420px) {
	img.zoom-pic {
		width: 100%;
	}
}