---
	import Head from '../components/Head.astro';
	import BackArrow from '../components/BackArrow.astro';
	import ThumbPic from '../components/ThumbPic.astro';
	
---
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<BackArrow addr="https://frontpageastro.pages.dev"/>
			<h1>Tob</h1>
			<div class="column">
				<ThumbPic addr="/pic4zoom" src="/assets/images/thumbs/pic4thumb.webp" />
				<ThumbPic addr="/pic5zoom" src="/assets/images/thumbs/pic5thumb.webp" />
				<ThumbPic addr="/pic7zoom" src="/assets/images/thumbs/pic7thumb.webp" />
				<ThumbPic addr="/pic8zoom" src="/assets/images/thumbs/pic8thumb.webp" />
				<ThumbPic addr="/pic10zoom" src="/assets/images/thumbs/pic10thumb.webp" />
				<ThumbPic addr="/pic12zoom" src="/assets/images/thumbs/pic12thumb.webp" />
				<ThumbPic addr="/pic9zoom" src="/assets/images/thumbs/pic9thumb.webp" />
				<ThumbPic addr="/pic1_1zoom" src="/assets/images/thumbs/pic1_1thumb.webp" />
				<ThumbPic addr="/pic2_1zoom" src="/assets/images/thumbs/pic2_1thumb.webp" />
				<ThumbPic addr="/pic3_1zoom" src="/assets/images/thumbs/pic3_1thumb.webp" />
				<ThumbPic addr="p1zoom" src="/assets/images/thumbs/p1thumb.webp" />
				<ThumbPic addr="/p2zoom" src="/assets/images/thumbs/p2thumb.webp" />
				<ThumbPic addr="/p3zoom" src="/assets/images/thumbs/p3thumb.webp" />
				<ThumbPic addr="/p5zoom" src="/assets/images/thumbs/p5thumb.webp" />
				<ThumbPic addr="/pic13zoom" src="/assets/images/thumbs/FB_IMG_1thumb.webp" />
				<ThumbPic addr="/pic14zoom" src="/assets/images/thumbs/FB_IMG_2thumb.webp" />
				<ThumbPic addr="/pic15zoom" src="/assets/images/thumbs/FB_IMG_3thumb.webp" />
				<ThumbPic addr="/pic16zoom" src="/assets/images/thumbs/FB_IMG_4thumb.webp" />
			</div>
		</main>
	</body>
</html>
