---
    import Head from '../components/Head.astro';
    import BackArrow from "../components/BackArrow.astro";
    import ZoomPic from '../components/ZoomPic.astro';
    
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body class="zoom-main">
        <BackArrow addr="/" />
        <ZoomPic addr="/assets/images/pic8.webp" />
    </body>
</html>